body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('ASSETS/IMAGES/fond2.jpg'); 
    background-size: cover; 
    background-position: center; 

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


video {
    width: 60%; /* Définit la largeur à 60% du conteneur parent */
    max-width: 800px; /* Limite la largeur maximale à 800 pixels */
    height: auto; /* Maintient les proportions de la vidéo */
    margin: 20px 0; /* Ajoute un espacement autour de la vidéo */
    display: block; /* Assure que la vidéo est un bloc pour un meilleur alignement */
    margin-left: auto; /* Centre la vidéo horizontalement */
    margin-right: auto; /* Centre la vidéo horizontalement */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(30% - 20px);
}

.work img {
    max-width: 100%;
    height: auto;
}

form {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
